extends ../layout

block content
	.content-container
		.slider
			img(alt="", src="images/main.jpg")
		.header-content
			.logos-row
				.header-inner-container
					h1.logo СИБТЕК

					.inner-box
						i.checkmark.box.icon.large
						| Кондиционирование и вентиляция
					.inner-box
						i.checkmark.box.icon.large
						| Фасады зданий, фасадные конструкции
					.inner-box
						i.checkmark.box.icon.large
						| Объекты любой сложности
					.inner-box
						i.checkmark.box.icon.large
						| Квалифицированные специалисты
					.inner-box
						i.checkmark.box.icon.large
						| Отличный сервис

					.call-buttons
						a.ui.inverted.button.about-link.js-about(href="/#about") О компании
						.ui.dropdown.inverted.button.item
							| Услуги
							i.icon.dropdown
							.menu
								a.item(href="/") Nyaaaaaaaaaaaaaaa
						a.ui.inverted.button(href="/clients") Клиенты
						a.ui.inverted.button(href="/works") Проекты
						a.ui.inverted.button(href="/contacts") Контакты

				.ui.horizontal.divider
					i.configure.icon
			.bottom-row
				.phone-container
					.phone
						| +7 (3467) 33-90-79
				.buttons-container
					.ui.buttons.small
						a.ui.button.green.js-call
							| Закажите звонок
						a.ui.button.orange.js-message
							| Напишите нам
		.ui.page.grid
			.four.wide.column.row1
				.left-menu.ui.sticky
					.ui.piled.segment
						.ui.link.list
							a.item(href="#") Кондиционирование воздуха
							a.item(href="#") Принудительная обработка воздуха
							a.item(href="#") Вентиляционные установки
							a.item(href="#") Классификация систем
							a.item(href="#") Система вентилирования и кондиционирования воздуха
							a.item(href="#") Автоматизация и диспетчерезация зданий

			.one.wide.column.row1
			.eleven.wide.column.row1

				.page-header
					h2 О компании
					.ui.section.divider

				.page-content
					p.
						Фирма ООО "СИБТЭК" работает на рынке с 2005 года и является динамично развивающейся, решающей сложные задачи в области обеспечения комфортного микроклимата помещений различного назначения - от бытовых до коммерческих.
					p.
						Опыт, накопленный сотрудниками фирмы позволяет осуществлять широкий спектр работ по поставке, проектированию, монтажу, гарантийному и сервисному обслуживанию систем вентиляции, очистки воздуха, увлажнения-осушения воздуха, кондиционирования и отопления различных типов.
					p.
						Спектр предлагаемого климатического оборудования очень широк! В нашем прайс-листе Вы найдете весь спектр кондиционеров - от бытовых кондиционеров (оконного типа, мобильных, настенных сплит-систем), кассетных кондиционеров, канальных, консольных систем, до систем центрального кондиционирования и вентиляции, систем чиллер-фанкойл, VRV- и VRF-систем. Мы являемся официальными дилерами представленных марок оборудования, работая с ведущими российскими поставщиками и представительствами компаний.
					p.
						В своей работе мы стараемся максимально полно удовлетворить потребности наших клиентов. Нашими заказчиками являются такие уважаемые организации, как "ЗапСибКомбанк

		.ui.page.grid
			.four.wide.column.row2
			.one.wide.column.row2
			.eleven.wide.column.row2
				.ui.horizontal.divider
				h3 Новости
				for i in [1,2,3]
					.news-content
						.ui.items
							.item
								.image
									img(src="images/main.jpg", alt="")
								.content
									a.header 12 Years a Slave
									.meta
										span.cinema 12 12 12
									.description
										| Спектр предлагаемого климатического оборудования очень широк! В нашем прайс-листе Вы найдете весь спектр кондиционеров - от бытовых кондиционеров (оконного типа, мобильных, настенных сплит-систем), кассетных кондиционеров, канальных, консольных систем, до систем центрального кондиционирования и вентиляции, систем чиллер-фанкойл, VRV- и VRF-систем. Мы являемся официальными дилерами представленных марок оборудования, работая с ведущими российскими поставщиками и представительствами компаний.
					//- //- Project preview
					//- .ui.special.cards
					//- 	.card
					//- 		.dimmable.image
					//- 			.ui.dimmer
					//- 				.content
					//- 					.center
					//- 						.ui.inverted.button Читать далее..
					//- 			img(src="http://upload.wikimedia.org/wikipedia/commons/f/f2/Dartmoor_pony_2.jpg", alt="")
					//- 		.content
					//- 			.header Конноспортивный центр "Мустанг"
					//- 			.meta
					//- 				span.date 12.02.2015
					//- 			.extra.content
					//- 				| Наши специалисты не только грамотно подберут, но и рассчитают, установят, проведут..
