extends ../layout
block content
	//- .top-card.ui.inverted.black.vertical.segment
	//- 	include index/top-card
	.list-content-container
		//- Temp while top-card less
		br
		br
		br
		br
		include page-content
