.ui.page.grid
	.eleven.wide.column
		span.middle-helper
		.inner-container
			h3.ui.header.tiny.inverted= local.organizationName
			if contacts.addresses && contacts.addresses['main-address']
				address= contacts.addresses['main-address']
	
	.five.wide.column
		span.middle-helper
		a.ui.button.inverted.black(href="#up")
			i.caret.up.icon
			=' '
			= local.goUp
