if email.type == 'calls'
	h1 Заказ звонка
else if email.type == 'messages'
	h1 Сообщение от пользователя
p.
	#{email.text}

h4 Отправитель указал контакты:
span Email: #{email.sender.email}
br
span Телефон: #{email.sender.phone}

