header
	include call-modal-form
	.slider
		img(alt="", src="images/main.jpg")
	.header-content
		.logos-row
			.header-inner-container
				h1.logo СИБТЕК

				.inner-box
					i.checkmark.box.icon.large
					| Кондиционирование и вентиляция
				.inner-box
					i.checkmark.box.icon.large
					| Фасады зданий, фасадные конструкции
				.inner-box
					i.checkmark.box.icon.large
					| Объекты любой сложности
				.inner-box
					i.checkmark.box.icon.large
					| Квалифицированные специалисты
				.inner-box
					i.checkmark.box.icon.large
					| Отличный сервис

				.call-buttons
					a.ui.inverted.button.about-link.js-about(href="/#about") О компании
					.ui.dropdown.inverted.button.item
						| Услуги
						i.icon.dropdown
						.menu
							a.item(href="/") Nyaaaaaaaaaaaaaaa
					a.ui.inverted.button(href="/clients") Клиенты
					a.ui.inverted.button(href="/works") Проекты
					a.ui.inverted.button(href="/contacts") Контакты

			.ui.horizontal.divider
				i.configure.icon
		.bottom-row
			.phone-container
				.phone
					| +7 (3467) 33-90-79
			.buttons-container
				.ui.buttons.huge
					.ui.button.green.small.js-call
						| Закажите звонок
					//- .or(data-text="@")
					.ui.button.orange.small.js-message
						| Напишите нам


