.ui.fixed.inverted.main.menu.large.js-static-menu
	.inner-container
		.title.item
			a(href="/") СИБТЕК
		a(href="#").item
			| О компании

		.item.ui.dropdown
			| Услуги
			i.dropdown.icon
			.menu
				a.item Nya
		a(href="#").item
			| Клиенты
		a(href="#").item
			| Работы
		a(href="#").item
			| Контакты
		.item.right
			| +7 (3467) 33-90-79
