/**
 * custom fonts
 *
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

declare-font(
	$name, $weight=normal, $style=normal,
	$file-base-name=$name, $svg-font-id=$name
)
	@font-face
		font-family $name

		$path = pathjoin($fonts-path, $file-base-name)

		src url($path + '.woff' + $rev-qs) format('woff'),
			url($path + '.otf' + $rev-qs) format('opentype'),
			url($path + '.svg' + $rev-qs + '#' + $svg-font-id) format('svg')

		font-weight $weight
		font-style $style

declare-font('PT Sans', 400, normal, 'ptsans', 'PTSans-Regular')
declare-font('PT Sans Bold', 700, normal, 'ptsans-bold', 'PTSans-Bold')
declare-font('PT Sans Italic', 400, italic, 'ptsans-italic', 'PTSans-Italic')

custom-font($name, $font-size=null, $line-height=null)
	font-family $name, sans-serif

	if $font-size isnt null and $line-height isnt null
		font-metrics $font-size, $line-height
	else if $font-size isnt null
		font-metrics $font-size

	if $name is 'PT Sans'
		font-weight 400
	else if $name is 'PT Sans Bold'
		font-weight 700
	else if $name is 'PT Sans Italic'
		font-weight 400
		font-style italic
