/**
 * header styles
 *
 * @author Andrew Fatkulin
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.ui.inverted.menu.fixed
	$clr = #1b1c1d
	background linear-gradient(to bottom, $clr, alpha($clr, 50%))
	transition transform $anim-speed $anim-curve
	transform translateY(0%)

	&.hidden
		transform translateY(-100%)

.title
	text-transform uppercase

.inner-container
	position relative
	margin 0 auto
	max-width $width-limit

	.phone.item.right a
		&, &:hover
			font-metrics()
			color white
