/**
 * main styles file
 *
 * @author Andrew Fatkulin
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

@require 'nib'

@import 'variables'
@import 'mixins'
@import 'fonts'

global-reset()
reset-html5()

html, body
	min-height 100%

body
	custom-font('PT Sans')

header
	@import 'header'

.ui.inverted.menu.fixed, body.index-page .main-menu
	.item.dropdown
		.menu a
			transition background-color $anim-speed $anim-curve
		.menu a:hover
			background #eaeaea

.top-part
	position relative
	size 100%

body.index-page
	@import 'pages/index'

.page-content
	p + p
		margin-top $main-margin
