/**
 * main styles file
 *
 * @author Viacheslav Lotsmanov
 */

@require 'nib'

@require 'mixins'

global-reset()
reset-html5()

headerHeight = 800px

body
	font-family 'PT Sans', sans-serif !important

.inner-container
	position relative
	margin 0 auto
	width 1100px

header
	width 100%
	height headerHeight
	font-family 'PT Sans', sans-serif
	position absolute

	.slider
		position fixed
		top 0
		width 100%
		height inherit
		z-index -11
		background-size cover

		img
			size auto
			min-width 100%
			min-height 100%

	.header-content
		position relative
		float left
		width inherit
		height inherit
		background rgba(255,255,255,0)
		z-index 1

	.divider
		margin-top 100px !important

	.configure
		color #fff !important

	.logos-row
		z-index 2
		position absolute
		top 30px
		width inherit
		height 100px
		// background rgba(255,255,255,0.1)

		h1.logo
			color #fff
			font-size 44px
			font-family 'PT Sans', sans-serif
			padding 0
			margin 0

		.inner-box
			// top 0
			position relative
			// margin 0 auto
			// background rgba(255,255,255, 0.1)
			color white
			padding 3em
			text-align: center
			z-index 3
			width 500px
			padding-bottom 20px
			// padding-top 40px

			.header-link
				position absolute
				left 20px
				top 20px
				color #fff !important
				font-size 24px

		.call-buttons
			position absolute
			right 0
			top 0
			min-width 200px


	.bottom-row
		position absolute
		bottom 0
		width 100%
		left 0
		height 240px
		z-index 10

		.phone-container
			width 280px
			position relative
			margin 0 auto

			.phone
				color #fff
				font-size 32px
				margin-bottom 20px

		.buttons-container
			width 435px
			position relative
			margin 40px auto


.content-container
	width 100%
	height auto
	min-height 500px
	background #fff
	position absolute
	top headerHeight
	background #f5f5f5

.header-inner-container
	margin 0 auto
	position relative
	max-width 1200px
	min-width 750px

.header-menu
	font-size 26px !important

.js-static-menu
	font-size 20px !important
	background rgba(115,97,97, 0.8) !important
	transition 600ms
	display none

.left-menu
	font-size 16px
	position relative
	z-index 3

.left-menu-item
	color #e07b53 !important
	a
		&:hover
			color #e07b53 !important

.row1
	position relative
	margin-top 130px !important

.row2
	position relative
	margin-top 50px !important
	margin-bottom 50px !important

.page-header
	position relative
	float left
	margin-top -10px
	h2
		padding 0
		margin 0
		font-size 32px !important

.page-content
	position relative
	float left
	// top 250px
	font-size 16px
	z-index 3

	p
		text-indent 30px !important

.news-content
	position relative
	float left
	font-size 16px
	z-index 3


footer
	position absolute
	width 100%
	min-height 200px
	background #333

.bread
	position relative
	float left
	margin-top -40px
	a
		color #333 !important
		&:hover
			color #e07b53 !important

.ui.page.grid
	height auto !important

