/**
 * main styles file
 *
 * @author Andrew Fatkulin
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

@require 'nib'

@import 'variables'
@import 'mixins'
@import 'fonts'

global-reset()
reset-html5()

html, body
	min-height 100%

body
	custom-font('PT Sans')
	min-width $min-width

header
	@import 'header'

.ui.inverted.menu.fixed, body.index-page .main-menu
	.item.dropdown
		.menu a
			transition background-color $anim-speed $anim-curve
		.menu a:hover
			background #eaeaea

.top-part
	position relative
	z-index 40
	min-height 100%

	>:last-child:after
		pseudo-block()
		clear both
		size 100% ($footer-height + ($main-margin * 3))
		background white

body.index-page
	@import 'pages/index'

.page-content
	p + p
		margin-top $main-margin

footer.ui.inverted.black.vertical.segment
	@import 'footer'

.list-content
	margin-top 100px

.photoes-container
	margin-top 60px

.inner-page-content
	margin-top 30px

#map
	position absolute
	top 0
	left 0
	width 100%
	height 100%

.left-menu
	margin-top 80px

.inner-left-menu
	margin-top 180px
