/**
 * variables
 *
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

$revision = 1

// paths

	$rev-qs = '?v=' + $revision
	$root-path = '/'
	$images-path = pathjoin($root-path, 'images')
	$fonts-path = pathjoin($root-path, 'fonts')
	//$icons-path = pathjoin($images-path, 'icons')
	//$vector-icons-path = pathjoin($images-path, 'vector-icons')

// sizes

	$main-margin = 20px

	$width-limit = 1100px

	$footer-height = 96px

	// responsive

		$min-width = 460px
		$responsive1 = 920px
		$responsive2 = 720px

// animations

	$anim-speed = 0.2s
	$anim-curve = ease-in

// colors

	$text-color1 = #556981 // magenta
	$text-color2 = #324356 // dark magenta
	$text-color3 = #93a2b4 // light magenta
	$text-color4 = #fc2104 // red

	$bg-color1 = #8b9baf // another light magenta
	$bg-color2 = #ea361e // red
	$bg-color3 = $text-color4 // active red
	$bg-color4 = $text-color1 // active magenta
