*.gz
*.tar
*.bz2
*.zip
*.rar
*.log

# python
*.pyc
__pycache__
.rope*
# python virtual environment
.venv*

# node
node_modules
bower_components
front-end-gulp

config.yaml

static/**/*build.css
static/**/*build.js
static/client-build.css
static/client-build.js
static/admin-build.css
static/admin-build.js
static/tmp
config.yaml

files/uploaded
