DATABASES:
  HOST: ''
  PORT: ''
  USER: ''
  PASSWORD: ''

PRODUCTION:
  PORT: 820150218
  HOST: 0.0.0.0

DEV:
  PORT: 920150218
  HOST: localhost

TEMPLATES_PATH: './templates'
STATIC_PATH: './static'
UPLOAD_PATH: './files'

APPS:
  - NAME: 'site'
    ROOT_URL: '/'
    TEMPLATES_PATH: './templates'
  - NAME: 'adm'
    ROOT_URL: '/admin'
    TEMPLATES_PATH: './templates'

LANG: 'ru'
