/**
 * index page styles
 *
 * @author Andrew Fatkulin
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.top-card.ui.inverted.black.vertical.segment
	reset-box-model()
	size 100%
	min-height 600px
	position relative

	.slider
		fixed left 0 top 0
		z-index 1
		overflow hidden
		size 100%

		ul.slides
			reset-box-model()
			list-style none
			size 100%
			display block
			overflow hidden
			white-space nowrap

			>li
				display inline-block
				size 100%
				z-index 1
				absolute left 0 top 0

				for num in (1..20)
					&:nth-child({num})
						z-index (20 - num)

				>img
					display block
					relative left 50% top 50%
					transform translate(-50%, -50%)
					size auto
					min-width 100%
					min-height 100%

	drop-shdw($color=alpha(black, 40%))
		text-shadow 2px 2px 5px $color !important

	.hgrid
		display table
		size 100%

		.row
			display table-row

			&:nth-child(1), &:nth-child(3)
				height 1%

		.company-info, .advantages, .sub
			position relative

		.company-info
			z-index 3
			padding-top ($main-margin * 3)

			.inner-container
				max-width $width-limit
				margin 0 auto
				position relative
				box-sizing border-box
				padding-x ($main-margin * 2)

			h1.logo.ui.header.inverted
				$fs = 40px
				custom-font('PT Sans Bold', $fs, ($fs + 2))
				text-transform uppercase

				& > *
					display inline-block
					vertical-align middle

				img
					size ($fs + 10px)

				span
					drop-shdw()

				@media (max-width $responsive1)
					text-align center

			.main-menu
				absolute right ($main-margin * 2) top 4px

				@media (max-width $responsive1)
					relative right 0 top 0
					text-align center
					margin-bottom $main-margin

				@media (max-width $responsive2)
					margin-top ($main-margin * 2)

					.ui.inverted.button
						display block
						margin 0 auto
						white-space nowrap
						float none
						clear both
						margin-top 15px

						&.dropdown
							text-align center
							padding-left 40px

				.ui.inverted.button
					custom-font('PT Sans Bold', 16px, 16px)
					drop-shdw()
					transition text-shadow $anim-speed $anim-curve,
						background-color $anim-speed $anim-curve,
						color $anim-speed $anim-curve
					&:hover
						drop-shdw(alpha(white, 0%))
					&.dropdown
						padding-right 40px
						.icon
							absolute top 50% right 18px
							transform translateY(-50%)

		.advantages
			z-index 2
			display table-cell
			vertical-align middle

			.inner-container
				max-width $width-limit
				margin 0 auto
				box-sizing border-box
				padding-x ($main-margin * 2)
				padding-top $main-margin

				.inner-box
					$fs = 22px
					font-metrics $fs ($fs + 2)
					margin-left 7px
					drop-shdw()

					& + .inner-box
						margin-top 25px

					@media (max-width $responsive2)
						$fs = 18px
						font-metrics $fs ($fs + 2)
						margin-left 0
						margin-bottom 10px

		.sub
			z-index 2
			text-align center
			padding-bottom ($main-margin * 2)

			.ui.horizontal.divider.inverted
				padding-y 5px
				drop-shdw()

				a
					color white
					transition color $anim-speed $anim-curve
					$fs = 26px
					$s = ($fs * 2.2)
					font-metrics $fs $fs

					i.large.circular.angle.down.icon
						width $s !important
						height $s !important
						padding 0 !important
						padding-top 10px !important
						border-radius ($s / 2) !important

					&:hover
						color alpha(white, 50%)

			.phone-container
				padding-bottom $main-margin

				a, a:hover
					color white
					$fs = 28px
					font-metrics $fs ($fs + 2px)
					drop-shdw()

			.ui.button
				custom-font('PT Sans Bold', 16px, 16px)
				transition background-color $anim-speed $anim-curve

.content-container
	position relative
	z-index 15
	background white

	.ui.page.grid:first-child
		margin-top 0
		padding-top ($main-margin * 3)

	@media (max-width 1100px)
		.ui.page.grid
			.one.wide.column
				display none

			.four.wide.column
				width 30% !important

	@media (max-width $responsive2)
		.ui.page.grid
			.four.wide.column, .eleven.wide.column
				width auto !important
				float none
				display block

	.ui.button, .ui.header
		font-family 'PT Sans Bold', sans-serif !important

	.news-content a.ui.header.small
		border-bottom 1px solid alpha(black, 50%)
		transition color $anim-speed $anim-curve,
			border-bottom-color $anim-speed $anim-curve

		&:hover
			border-bottom-color alpha(#00b2f3, 50%)
