form.ui.form.js-form(data-type="#{type}")

	.inline.field
		.ui.checkbox
			input.is-active(type="checkbox")
			label Показывать

	if type != 'contacts'
		.field
			.ui.corner.labeled.input
				input.subtype(type="text", name="subtype" placeholder="Категория")
				.ui.corner.label
					i.asterisk.icon
	else
		label Категория контактов
		.field
			select(name="subtype").ui.dropdown.subtype
				each val, key in contactsTypes
					option(value="#{key}") #{val}
	.field
		.ui.corner.labeled.input
			input.human-readable(type="text", name="human-readable" placeholder="Название")
			.ui.corner.label
				i.asterisk.icon
	.field
		.ui.corner.labeled.input
			input.name(type="text", name="name" placeholder="Переменная шаблона")
			.ui.corner.label
				i.asterisk.icon
	.field
		.ui.corner.labeled.input
			textarea.value(type="text", name="value" placeholder="Значение")
			.ui.corner.label
				i.asterisk.icon

	.field
		.ui.corner.labeled.input
			input.sort(type="text", name="sort" placeholder="Порядок")
			.ui.corner.label
				i.asterisk.icon



	.ui.button.green.js-add-data Добавить
	.ui.button.js-cancel Отменить



