form.ui.form.js-form(data-type="#{type}")

	.inline.field
		.ui.checkbox
			input.is-active(type="checkbox")
			label Показывать страницу
	h4.ui.dividing.header Заголовок страницы
	.two.fields
		.field
			.ui.input
				input.header(type="text", name="header" placeholder="Заголовок страницы")

	h4.ui.dividing.header Символьный код
	.two.fields
		.field
			input.symbol-code(type="text", name="urlpath" placeholder="Символьный код", disabled)
		.field
			.ui.button.js-set-symbol-code Задать вручную

	if type == 'news' || type == 'projects'
		h4.ui.dividing.header Фотографии
		.two.fields
			.field
				.js-photo-upload.ui.button Загрузить фотографии
				input.js-photo-upload-input(type="file", name="images", multiple="true")

		.uploaded-images
			label Загруженные изображения

	if type == 'news'
		h4.ui.dividing.header Дата публикации
		.two.fields
			.field
				input.pub-date(type="text", name="pub-date" placeholder="Дата публикации")

	if type == 'news' || type == 'projects'
		h4.ui.dividing.header Превью
			.field
				textarea.preview-text(name="preview", id="preview", rows="10", cols="80")

	h4.ui.dividing.header Контент страницы
	.field
		textarea.editor(name="editor", id="editor", rows="10", cols="80")


	h4.ui.dividing.header Файлы для контента
	.two.fields
		.field
			.js-files.ui.button Загрузить файлы
			input.js-files-input(type="file", name="files", multiple="true")

	.uploaded-files
		label Загруженные файлы


	h4.ui.dividing.header Ключевые слова (Keywords)
	.two.fields
		.field
			input.keywords(type="text", name="keywords" placeholder="Keywords")

	h4.ui.dividing.header Описание (Description)
	.field
		input.description(type="text", name="description" placeholder="Description")

	h4.ui.dividing.header Заголовок (Title)
	.two.fields
		.field
			.ui.corner.labeled.input
				input.title(type="text", name="title" placeholder="Seo-title")
				.ui.corner.label
					i.asterisk.icon

	h4.ui.dividing.header
	input.main-img(type="hidden", name="main-img")
	.ui.button.green.js-add Добавить
	.ui.button.js-cancel Отменить



