doctype html
html
	head
		meta(charset="utf-8")
		title  Adm interface
		script(src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js")

		script(src="/admin-build.js", type="text/javascript")
		link(rel="stylesheet", type="text/css" href="/semantic/semantic.min.css")
		link(rel="stylesheet", type="text/css", href="/admin-build.css")
		link(href='http://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic' rel='stylesheet' type='text/css')

	body
		.main-container
			header
				.ui.fixed.inverted.main.menu.large
					.inner-container
						.item.title Сибтек
						for item in menu
							a.item(href="#{item.href}")
								i.icon(class="#{item.icon}")
								| #{item.text}
			.content-container
				block content
