extends adm-layout
block menu
block content
	.login-container
		h2 Административная панель
		include error-message
		form.ui.form.login-form
			.field
				.ui.input
					input.username(type="text", placeholder="Имя")
			.field
				.ui.input
					input.pass(type="password", placeholder="Пароль")

			input.ui.button.green.js-login(type="submit", value="Войти")

