.ui.long.modal.js-view-modal
	i.close.icon
	if type == 'calls'
		.header Заказ звонка
	else if type == 'messages'
		.header Сообщение
	.content
		.description.js-text
	.actions
		button.ui.button.green Ok
