.ui.basic.modal.js-remove-modal
	i.close.icon
	.header
		| Удаление записи
	.content
		.description
			| Вы уверены, что хотите удалить запись?
	.actions
		.two.fluid.ui.inverted.buttons
			.ui.red.basic.inverted.button.deny
				i.remove.icon
				| Нет
			.ui.green.basic.inverted.button.approve
				i.checkmark.icon
				| Да, удалить
