extends adm-layout
block content
	.login-container
		form.ui.form.js-edit-user-form
			h2 Редактирование данных пользователя
			h4.ui.dividing.header Логин
			.field
				.ui.corner.labeled.input
					input.username(type="text", placeholder="Логин", value="#{userData.username}")
					.ui.corner.label
							i.asterisk.icon
			h4.ui.dividing.header Пароль
			.field
				.ui.corner.labeled.input
					input.pass(type="text", placeholder="Новый пароль", value="")
					.ui.corner.label
						i.asterisk.icon

			input.ui.button.green.js-edit-user(type="submit", data-id="#{userData._id}", value="Изменить")
			a.ui.button(href="/admin/system/users/list") Отменить
	//- include alert-popup
